<div id="financials3"></div>
	<script type="text/javascript">
		expensesData = <%= raw @financial.expenses_to_datum.to_json if @financial.expenses %>;
		nv.addGraph(function() {
	 		var chart = nv.models.pieChart()
	      .x(function(d) { return d.label })
	      .y(function(d) { return d.value })
	      .showLabels(true);

	    d3.select("#financials3")
	    		.append("svg:svg")
	        .datum(expensesData)
	        .transition().duration(350)
	        .call(chart);

	  return chart;
	});
	</script>