<div class="container">
	<h1>Summary</h1>
	<div class="col-md-4" id="summary-income">

	</div>

	<div class="col-md-4" id="summary-expenses">

	</div>

	<div class="col-md-4" id="summary-surplus">
		<% if current_user.financial.wage %>
			<h1><%= current_user.financial.wage %></h1>
		<% else %>
			<h1><%= current_user.email%></h1>
		<% end %>
	</div>
</div>