<div class="container" id="summary_form">
	<h1 class="summary-title">Summary</h1>
	<div class="col-md-4" id="summary-income">

	</div>

	<div class="col-md-4" id="summary-expenses">
		<% if current_user.financial.wage %>
			<p>wage is: <%= current_user.financial.wage %></p>
		<% else %>
			<p>You have no financial information to show.</p>
		<% end %>
	</div>

	<div class="col-md-4" id="summary-surplus">
		
	</div>
</div>