<div class="dashboard">
	<div class="container" id="dashboard-area">
		<div class="col-md-12" id="table">			
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
			  <li role="presentation"><a href="#income" aria-controls="income" role="tab" data-toggle="tab">Income</a></li>
			  <li role="presentation"><a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab">Expenses</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div role="tabpanel" class="tab-pane active" id="summary"><%= render 'financials/summary' %></div>
			  <div role="tabpanel" class="tab-pane" id="income"><%= render 'financials/income' %></div>
			  <div role="tabpanel" class="tab-pane" id="expenses"><%= render 'financials/expenses' %></div>
			</div>
		</div>  
	</div>	
</div>	