<div class="dashboard">
	
	<div class="container" id="dashboard-area">
		<ul class="tab-list">
			<li class="active"><a class="tab-control" href="tab-1">Summary</a></li>
			<li><a class="tab-control" href="tab-2">Income</a></li>
			<li><a class="tab-control" href="tab-2">Expenses</a></li>
		</ul>

		<div class="tab-panel active" id="tab1">
			<%= render 'financials/income' %>
		</div>
		
		<div class="tab-panel" id="tab2">
		
		</div>

		<div class="tab-panel" id="tab3">
			
		</div>
	</div>

</div>