<div class="container">
	<h1>Terms of Use</h1>


	<h2>1. GENERAL TERMS.</h2>

	<p>These Terms of Use and Additional Terms and Conditions (“Agreement)” set forth the terms and conditions that apply to your access and use of the uBudget (“uBudget Services”) as owned and operated by uBudget</p>

	<p>As used in this Agreement, the term "Sites" includes all uBudget websites, pages that are associated or within each website and all devices, applications or services that uBudget operates or offers that link to this Agreement.By accepting electronically (for example, clicking “I Agree”), installing, accessing or using the Services, you agree to be bound by the terms and conditions of this Agreement and uBudget Privacy and Security Policy, as they may be amended from time to time in the future (see “Modifications” below). If you do not agree to this Agreement, then you may not use the Services.</p>
	<ul>
		<li>Accepting the Terms</li>
		<li>Privacy and your Personal Information</li>
		<li>Description of the Services</li>
		<li>Account Information from Third Party Sites</li>

		<li>Your Registration Information</li>
		<li>Your Use of the Service</li>
		<li>Use With Your Mobile Device</li>
		<li>Online and Mobile Alerts</li>
		<li>Rights You Grant to Us</li>
		<li>uBudget's Intellectual Property Rights</li>
		<li>Access and Interference</li>
		<li>Rules for Posting</li>
		<li>Social Media Sites</li>
		<li>Disclaimer of Representations and Warranties</li>
		<li>Not a Financial Planner, Broker or Tax Advisor</li>
		<li>Limitations on uBudget’s Liability</li>
		<li>Your Indemnification of uBudget</li>
		<li>Ending your relationship with uBudget</li>
		<li>Modifications</li>
		<li>Governing Law and Forum for Disputes</li>
		<li>Miscellaneous</li>
		<li>uBudget QuickView</li>
		<li>Credit Score Services</li>
		<li>Bill Payment Services</li>
		<li>Bill Processing Services</li>
		<li>Apple Requirements</li>
	</ul>

	<h2>1. Accepting the Terms</h2>

	<p>By using the information, tools, features, software and functionality including content, updates and new releases provided by uBudget of the uBudget Service, you agree to be bound by this Agreement, whether you are a “Visitor” (which means that you simply browse the uBudget website), a “Member” (which means that you have registered with uBudget) or a “Customer” (which means that you have registered or used the Bill Payment Service or Biller Processing Services.) The term “you” or “User” refers to a Visitor, Member or Customer. The term “we” refers to uBudget. If you wish to become a Member, communicate with other Members, become a Customer of the Bill Pay Services, or make use of the Services, you must read this Agreement and indicate your acceptance during the registration process.</p>

	<p>You may not use the uBudget Service or the Bill Pay Services and you may not accept this Agreement if you are not are not at least 18 years of age and, in any event, of a legal age to form a binding contract with uBudget.</p>

	<p>If you accept this Agreement, you represent that you have the capacity to be bound by it or if you are acting on behalf of a company or entity that you have the authority to bind such entity. Before you continue, you should print or save a local copy of this Agreement for your records.<p>

	<h2>2. Privacy and your Personal Information</h2>

	<p>You can view uBudget Privacy Statement here and on the Site for the Services. You agree to the applicable uBudget Privacy Statement, and any changes published by uBudget. You agree that uBudget may use and maintain your data according to the uBudget's Privacy Statement, as part of the Services. You give uBudget permission to combine information you enter or upload for the Services with that of other users of the Services and/or other uBudget services. For example, this means that uBudget may use your and other users’ non-identifiable, aggregated data to improve the Services or to design promotions. uBudget may access or store personal information in multiple countries, including countries outside of your own country to the extent permitted by applicable law.</p>

	<h2>3. Description of the Services</h2>

	<p>The uBudget Service is a personal finance information management service that allows you to consolidate and track your financial information. The uBudget Service is provided to you by uBudget without charge (it is free) and is meant to provide you with your information to allow you to organize and manage your finances.</p>

	<h2>4. Account Information from Third Party Sites</h2>

	<p>Users may direct uBudget to retrieve their own information maintained online by third-parties with which they have customer relationships, maintain accounts or engage in financial transactions (“Account Information”). uBudget works with one or more online service providers to access this Account Information. uBudget makes no effort to review the Account Information for any purpose, including but not limited to accuracy, legality or non-infringement. uBudget is not responsible for the products and services offered by or on third-party sites.</p>

	<p>uBudget cannot always foresee or anticipate technical or other difficulties which may result in failure to obtain data or loss of data, personalization settings or other service interruptions. uBudget cannot assume responsibility for the timeliness, accuracy, deletion, non-delivery or failure to store any user data, communications or personalization settings. For example, when displayed through the Services, Account Information is only as fresh as the time shown, which reflects when the information is obtained from such sites. Such information may be more up-to-date when obtained directly from the relevant sites. You can refresh your Account Information through the Services, in the manner prescribed in the associated instructions.</p>

	<h2>6. Your Registration Information</h2>

	<p>In order to allow you to use the Services, you will need to sign up for an account with uBudget. We may verify your identity. You authorize us to make any inquiries we consider necessary to validate your identity. These inquiries may include asking you for further information, requiring you to provide your full address, your social security number and/or requiring you to take steps to confirm ownership of your email address or financial instruments, ordering a credit report, or verifying information you provide against third party databases or through other sources. If you do not provide this information or uBudget cannot verify your identity, we can refuse to allow you to use the Services.<p>

	<p>You agree and understand that you are responsible for maintaining the confidentiality of your password which, together with your LoginID e-mail address, allows you to access the Sites. That LoginID and password, together with any mobile number or other information you provide form your “Registration Information.” By providing us with your e-mail address, you agree to receive all required notices electronically, through the Services by displaying links to notices generally on the Site, to that e-mail address. It is your responsibility to update or change that address, as appropriate. Notices will be provided in HTML (or, if your system does not support HTML, in plain-text) in the text of the e-mail or through a link to the appropriate page on our site, accessible through any standard, commercially available internet browser.</p>

	<p>If you believe that your Registration or Account Information or device that you use to access the Bill Pay Services has been lost or stolen, that someone is using your account without your permission, or that an Unauthorized Transfer (as defined in Section 25.1 Bill Payment Service below) has occurred, you must notify uBudget immediately in order to minimize your possible losses.</p>

	<p>The following is uBudget's contact information:</p>

	Email: ngati016@hotmail.com

	<h2>7. Your Use of the Services</h2>

	<p>Your right to access and use the Sites and the Services is personal to you and is not transferable by you to any other person or entity. You are only entitled to access and use the Sites and Services for lawful purposes. Accurate records enable uBudget to provide the Services to you. You must provide true, accurate, current and complete information about your accounts maintained at other web sites, as requested in our “add account” setup forms, and you may not misrepresent your Registration and Account Information. In order for the Services to function effectively, you must also keep your Registration and Account Information up to date and accurate. If you do not do this, the accuracy and effectiveness of the Services will be affected. You represent that you are a legal owner of, and that you are authorized to provide us with, all Registration and Account Information and other information necessary to facilitate your use of the Services.</p>

	<p>Your access and use of. Services may be interrupted from time to time for any of several reasons, including, without limitation, the malfunction of equipment, periodic updating, maintenance or repair of the Services or other actions that Intuit, in its sole discretion, may elect to take. In no event will uBudget be liable to any party for any loss, cost, or damage that results from any scheduled or unscheduled downtime.</p>

	<p>Your sole and exclusive remedy for any failure or non-performance of the Services, including any associated software or other materials supplied in connection with such services, shall be for uBudget to use commercially reasonable efforts to effectuate an adjustment or repair of the applicable service.</p>

	<p>From time to time, uBudget may include new and/or updated pre-release features and trial use (“Sneak Preview” features) in Services for your use and which permit you to provide feedback. You understand and agree that your use of Sneak Preview features is voluntary and uBudget is not obligated to provide you with any Sneak Preview features. Furthermore, if you decide to use the Sneak Preview features you agree to abide by any rules or restrictions uBudget may place on them. You understand that once you use the Sneak Preview features, you may be unable to revert back to the earlier version of the same or similar feature. Additionally, if such reversion is possible, you may not be able to return or restore data created within the Sneak Preview feature back to the earlier version. The Sneak Preview features are provided on an “as is” basis and may contain errors or inaccuracies that could cause failures, corruption or loss of data and/or information from any connected device. You acknowledge and agree that all use of the Sneak Preview features is at your sole risk.</p>

	<h2>8. Use With Your Mobile Device</h2>

	<p>Use of these Services may be available through a compatible mobile device, Internet and/or network access and may require software. You agree that you are solely responsible for these requirements, including any applicable changes, updates and fees as well as the terms of your agreement with your mobile device and telecommunications provider. UBUDGET MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO: (i) THE AVAILABILITY OF TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO THE SERVICES AT ANY TIME OR FROM ANY LOCATION; (ii) ANY LOSS, DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION SERVICES; AND (iii) ANY DISCLOSURE OF INFORMATION TO THIRD PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR SETTINGS CONNECTED WITH THE SERVICES.</p>

	<h2>9. Online and Mobile Alerts</h2>

	<p>uBudget may from time to time provide automatic alerts and voluntary account-related alerts. Automatic alerts may be sent to you following certain changes to your account or information, such as a change in your Registration Information.</p>

	<p>Voluntary account alerts may be turned on by default as part of the Services. They may then be customized, deactivated or reactivated by you. These alerts allow you to choose alert messages for your accounts. uBudget may add new alerts from time to time, or cease to provide certain alerts at any time upon its sole discretion. Each alert has different options available, and you may be asked to select from among these options upon activation of your alerts service.</p>

	<p>You understand and agree that any alerts provided to you through the Services may be delayed or prevented by a variety of factors. uBudget may make commercially reasonable efforts to provide alerts in a timely manner with accurate information, but cannot guarantee the delivery, timeliness, or accuracy of the content of any alert. uBudget shall not be liable for any delays, failure to deliver, or misdirected delivery of any alert; for any errors in the content of an alert; or for any actions taken or not taken by you or any third party in reliance on an alert.</p>

	<p>Electronic alerts will be sent to the email address you have provided as your primary email address for the Services. If your email address or your mobile device’s email address changes, you are responsible for informing us of that change. You can also choose to have alerts sent to a mobile device that accepts text messages. Changes to your email address or mobile number will apply to all of your alerts.</p>

	<p>Because alerts are not encrypted, we will never include your passcode. However, alerts may include your Login ID and some information about your accounts. Depending upon which alerts you select, information such as an account balance or the due date for your credit card payment may be included. Anyone with access to your email will be able to view the content of these alerts. At any time you may disable future alerts.</p>

	<h2>10. Rights You Grant to Us</h2>

	<p>By submitting information, data, passwords, usernames, PINs, other log-in information, materials and other content to uBudget through the Services, you are licensing that content to uBudget for the purpose of providing the Services. uBudget may use and store the content in accordance with this Agreement and our Privacy Statement. You represent that you are entitled to submit it to uBudget for use for this purpose, without any obligation by uBudget to pay any fees or be subject to any restrictions or limitations. By using the Services, you expressly authorize uBudget to access your Account Information maintained by identified third parties, on your behalf as your agent. When you use the “Add Accounts” feature of the Services, you will be directly connected to the website for the third party you have identified. uBudget will submit information including usernames and passwords that you provide to log into the Site. You hereby authorize and permit uBudget to use and store information submitted by you to accomplish the foregoing and to configure the Services so that it is compatible with the third party sites for which you submit your information. For purposes of this Agreement and solely to provide the Account Information to you as part of the Service, you grant uBudget a limited power of attorney, and appoint uBudget or uBudget Bills as your attorney-in-fact and agent, to access third party sites, retrieve and use your information with the full power and authority to do and perform each thing necessary in connection with such activities, as you could do in person. YOU ACKNOWLEDGE AND AGREE THAT WHEN UBUDGET IS ACCESSING AND RETRIEVING ACCOUNT INFORMATION FROM THIRD PARTY SITES, UBUDGET IS ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY THAT OPERATES THE THIRD PARTY SITE. You understand and agree that the Services are not sponsored or endorsed by any third parties accessible through the Services. uBudget is not responsible for any payment processing errors or fees or other Services-related issues, including those issues that may arise from inaccurate account information.</p>

	<h2>11. uBudget's Intellectual Property Rights</h2>

	<p>The contents of the Services, including its “look and feel” (e.g., text, graphics, images, logos and button icons), photographs, editorial content, notices, software (including html-based computer programs) and other material are protected under both United States and other applicable copyright, trademark and other laws. The contents of the Services belong or are licensed to uBudget or uBudget Bills or its software or content suppliers. uBudget grants you the right to view and use the Services subject to these terms. You may download or print a copy of information for the Services for your personal, internal and non-commercial use only. Any distribution, reprint or electronic reproduction of any content from the Services in whole or in part for any other purpose is expressly prohibited without our prior written consent. You agree not to use, nor permit any third party to use, the Site or the Services or content in a manner that violates any applicable law, regulation or this Agreement.</p>

	<h2>12. Access and Interference</h2>

	<p>You agree that you will not:</p>

	<p>Use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or methodology to access, acquire, copy or monitor the Services or
	any portion of the Services, without uBudget's express written consent, which may be withheld in Intuit’s sole discretion;</p>

	<p>Use or attempt to use any engine, software, tool, agent, or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or sea
	rch the rvices, other than the search engines and search agents available through the Services and other than generally available third-party web browsers (such as Microsoft Explorer);</p>

	<p>Post or transmit any file which contains viruses, worms, Trojan horses or any other contaminating or destructive features, or that otherwise interfere with the proper working of the Services;
	or</p>

	<p>Attempt to decipher, decompile, disassemble, or reverse-engineer any of the software comprising or in any way making up a part of the Services.</p>

	<h2>15. Disclaimer of Representations and Warranties</h2>

	<p>THE SITES, SERVICES, INFORMATION, DATA, FEATURES, AND ALL CONTENT AND ALL SERVICES AND PRODUCTS ASSOCIATED WITH THE SERVICESOR PROVIDED THROUGH THE SERVICES (WHETHER OR NOT SPONSORED) ARE PROVIDED TO YOU ON AN “AS-IS” AND “AS AVAILABLE” BASIS. UBUDGET, ITS AFFILIATES, AND ITS THIRD PARTY PROVIDERS, LICENSORS, DISTRIBUTORS OR SUPPLIERS (COLLECTIVELY, "SUPPLIERS") MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE CONTENT OR OPERATION OF THE SITE OR OF THE SERVICES. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK.</p>

	<P>NEITHER UBUDGET OR ITS SUPPLIERS MAKE ANY REPRESENTATIONS, WARRANTIES OR GUARANTEES, EXPRESS OR IMPLIED, REGARDING THE ACCURACY, RELIABILITY OR COMPLETENESS OF THE CONTENT ON THE SITES OR OF THE SERVICES (WHETHER OR NOT SPONSORED), AND EXPRESSLY DISCLAIMS ANY WARRANTIES OF NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE. NEITHER UBUDGET OR ITS SUPLIERS MAKE ANY REPRESENTATION, WARRANTY OR GUARANTEE THAT THE CONTENT THAT MAY BE AVAILABLE THROUGH THE SERVICES IS FREE OF INFECTION FROM ANY VIRUSES OR OTHER CODE OR COMPUTER PROGRAMMING ROUTINES THAT CONTAIN CONTAMINATING OR DESTRUCTIVE PROPERTIES OR THAT ARE INTENDED TO DAMAGE, SURREPTITOUSLY INTERCEPT OR EXPROPRIATE ANY SYSTEM, DATA OR PERSONAL INFORMATION.</P>

	<P>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. IN SUCH STATES LIABILITY IS LIMITED TO THE EXTENT PERMITTED BY LAW. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS OF SECTIONS 15 AND 17 OF THIS PROVISION MAY NOT APPLY TO YOU.</P>

	<h2>16. Not a Financial Planner, Broker or Tax Advisor</h2>

	<p>NEITHER UBUDGET NOR THE SERVICES ARE INTENDED TO PROVIDE LEGAL, TAX OR FINANCIAL ADVICE. INTUIT IS NOT A FINANCIAL PLANNER, BROKER OR TAX ADVISOR. The Service is intended only to assist you in your financial organization and decision-making and is broad in scope. Your personal financial situation is unique, and any information and advice obtained through the Service may not be appropriate for your situation. Accordingly, before making any final decisions or implementing any financial strategy, you should consider obtaining additional information and advice from your accountant or other financial advisers who are fully aware of your individual circumstances.</p>

	<h2>17. Limitations on uBudget's Liability</h2>

	<p>UBUDGET SHALL IN NO EVENT BE RESPONSIBLE OR LIABLE TO YOU OR TO ANY THIRD PARTY, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, LIQUIDATED OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS OF PROFIT, REVENUE OR BUSINESS, ARISING IN WHOLE OR IN PART FROM YOUR ACCESS TO THE SITES, YOUR USE OF THE SERVICES, THE SITES OR THIS AGREEMENT, EVEN IF UBUDGET HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, UBUDGET'S LIABILITY TO YOU FOR ANY CAUSE WHATEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO A MAXIMUM OF $500.00 (FIVE HUNDRED UNITED STATES DOLLARS).</p>

	<h2>18. Your Indemnification of uBudget</h2>

	<p>You shall defend, indemnify and hold harmless uBudget and its officers, directors, shareholders, and employees, from and against all claims, suits, proceedings, losses, liabilities, and expenses, whether in tort, contract, or otherwise, that arise out of or relate, including but not limited to attorneys fees, in whole or in part arising out of or attributable to any breach of this Agreement or any activity by you in relation to the Sites or your use of the Services.</p>

	<h2>19. Ending your relationship with uBudget</h2>

	<p>This Agreement will continue to apply until terminated by either you or uBudget as set out below. If you want to terminate your legal agreement with uBudget, you may do so as follows:</p>

	<p>To close your account for the uBudget Service, please use the directions below:</p>

	<p>
		Login to your uBudget account.<br>
		Go to “Account Info”.<br>
		Locate the “delete uBudget account” option.<br>
		Press “Delete Account”<br>
		Your account will be closed and your ability to log in deactivated immediately. Your uBudget account data will be removed within 48 hours subject to and as explained in our Privacy Statement.
	</p>

	<p>uBudget may at any time, terminate its legal agreement with you and access to the Services:</p>

	<p>a. if you have breached any provision of this Agreement (or have acted in a manner which clearly shows that you do not intend to, or are unable to comply with the provisions of this Agreement); b. if uBudget in its sole discretion believes it is required to do so by law (for example, where the provision of the Service to you is, or becomes, unlawful); c. for any reason and at any time with or without notice to you; or d. immediately upon notice, to the e-mail address provided by you as part of your Registration Information.</p>

	<p>You acknowledge and agree that uBudget may immediately deactivate or delete your account and all related information and files in your account and/or prohibit any further access to all files and the Services by you. Further, you agree that uBudget shall not be liable to you or any third party for any termination of your access to the Services.</p>

	<h2>20. Modifications</h2>

	<p>uBudget reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Sites or Services with or without notice. uBudget reserves the right to change the Services, including applicable fees, in our sole discretion and from time to time. If you do not agree to the changes after receiving a notice of the change to the Services, you may stop using the Services. Your use of the Services, after you are notified of any change(s) will constitute your agreement to such change(s). You agree that uBudget shall not be liable to you or to any third party for any modification, suspensions, or discontinuance of the Services.</p>

	<p>uBudget may modify this Agreement from time to time. Any and all changes to this Agreement may be provided to you by electronic means (i.e., via email or by posting the information on the Sites). In addition, the Agreement will always indicate the date it was last revised. You are deemed to accept and agree to be bound by any changes to the Agreement when you use the Services after those changes are posted.</p>

	<h2>22. Allegations of Copyright and Trademark Infringements; Notification</h2>

	<p>uBudget respects the intellectual property rights of others and Intuit asks that users of the Site and Services do the same. If you believe that your intellectual property is being used on the Site in a way that constitutes copyright infringement, please provide our Designated Agent (set forth below) the following information (as required by Section 512(c)(3) of the Digital Millennium Copyright Act):</p>

	<p>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.<br>
	Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.
	Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material.<br>
	Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.<br>
	A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
	<br> under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>

	<p>Please note that Section 512(f) of the Digital Millennium Copyright Act may impose liability for damages on any person who knowingly sends meritless notices of infringement. Please do not make false claims.</p>

	<p>Any information or correspondence that you provide to uBudget may be shared with third parties, including the person who provided uBudget with the allegedly infringing material.</p>

	<p>Upon receipt of a bona fide infringement notification by the Designated Agent, it isuBudget's policy to remove or disable access to the infringing material, notify the user that it has removed or disabled access to the material, and, for repeat offenders, to terminate such user's access to the service.</p>

	<p>Identification of the copyrighted work that was removed, and the location on the Site where it would have been found prior to its removal;<br>
	A statement, under penalty of perjury, that you have a good faith belief that the content was removed as a result of a mistake or misidentification; and<br>
	Your physical or electronic signature, together with your contact information (address, telephone number and, if available, email address).<br>
	If a counter-notice is received by the Designated Agent, we may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed material or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the user, the removed material may be replaced or access to it restored in 10 to 14 business days or more after receipt of the counter-notice, at our discretion.</p>

	<h2>II. SUPPLEMENTAL TERMS AND CONDITIONS FOR THE SERVICES.</h2>

	<p>These Supplemental Terms and Conditions apply for the, uBudget Quickview. Capitalized terms not otherwise defined below have the meanings provided in the General Terms above.</p>

</div>